/* en este archivo css tendremos las clases que comparten ambos ficheros html
como el footer y el header*/

@font-face {
    font-family: font;
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}
* {
    box-sizing: border-box;
    font-family: font;
}

body {
    margin: 0;
    padding: 0;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--gris);
    padding: 0 2rem;
    /*posicionamiento*/
    max-width: 100%;
    min-width: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.header__img {
    width: 100px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-list__item:hover {
    margin-bottom: 10px;
    border-bottom: 2px solid var(--rojo);
}

.list__link {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.header__box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lupa {
    color: white;
    font-size: 1.8rem;
}

.header__link {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: var(--rojo);
    border: 2px solid var(--rojo);
    border-radius: 10px;
}

.inicio:hover {
    background-color: yellowgreen;
    border-color: yellowgreen;
    color: black;
}

.contacto:hover {
    background-color: yellow;
    border-color: yellow;
    color: black;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--gris);
    color: white;
}

.footer__box {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 3rem;
    border-top: 1px solid white;
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list__title {
    font-size: 1.2rem;
    color: var(--rojo);
}

.footer-list__link {
    text-decoration: none;
    color: white;
}

.footer__info{
    border-top: 1px solid white;

}

.list__item:hover{
    color: var(--rojo);
}

.footer-list__link:hover{
    color: var(--rojo);
}


/*media querys*/

@media screen and (max-width:1024px) {
    .header__nav {
        display: none;
    }
}

/*colores con variables*/
:root {
    --rojo: rgb(243, 37, 37);
    --gris:  rgb(15, 15, 15);
}